.header__inner {
  position: relative;
  width: 100%;
}

.find-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 581px;
  top: 47px;
  left: 0;
  width: 100%;
  z-index: 5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.find-list__link {
  color: var(--color-silver-chalice);
  border-bottom: 1px solid #000;
}

.hide {
  display: none;
}
